* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "inter-Regular";
    font-weight: 300;
}

:root {
    --light-blue: #E7FAFE;
    --black: #1a1a1a;
    --orange: #FF7967;
}

@font-face {
    font-family: "Inter-Bold";
    src: url(asset/font/Inter_18pt-Bold.ttf);
}

@font-face {
    font-family: "Inter-Regular";
    src: url(asset/font/Inter_18pt-Regular.ttf);
}

@font-face {
    font-family: "Inter-SemiBold";
    src: url(asset/font/Inter_18pt-SemiBold.ttf);
}

@font-face {
    font-family: "Inter-Medium";
    src: url(asset/font/Inter_24pt-Medium.ttf);
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    border-bottom: 1px solid #dbdbdb;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    cursor: pointer;
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    cursor: pointer;
}

.first-div {
    background-color: #E7FAFE;
    width: 90%;
    margin: 2rem auto;
    justify-content: center;
    border-radius: 50px;
    align-items: center;
    display: flex;
    margin-bottom: 100px;
    position: relative;
}

.second-div {
    width: 95%;
    margin: 0 auto;
}

.bodge {
    position: absolute;
    top: 2.5rem;
}

.left-div {
    padding: 0.8rem;
}

.Hot-Recipes {
    padding: 20px;
    grid-row-gap: 50px;
    grid-column-gap: 50px;
    display: grid;
    /*grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);*/

}

.logo-Recipes {
    background-color: white;
    border: 1px solid white;
    border-radius: 30px;
    padding: 10px;
    margin-bottom: 10px;
    width: 156px;
    height: 45px;
}

.title-Recipes {
    font-family: "Inter-SemiBold";
    font-size: 64px;
    font-weight: 700;
    color: black;
}

.des-Recipies {
    font-family: "Inter-Regular";
    font-size: 16px;
    font-weight: 400;
    color: rgb(74, 71, 71);
    margin-top: -25px;
}

.first-div-item {
    flex: 0 0 50%;
    padding: 0;
}

.res-logos {
    display: flex;
    gap: 20px;
}

.knife {
    margin-top: 3px;
    margin-right: 10px;
    font-family: "Inter-Medium";
    font-size: 14px;
}

.timer {
    margin-top: 3px;
    margin-right: 10px;
    font-family: "Inter-Medium";
    font-size: 14px;
}

.res-logo {
    display: flex;
    gap: 10px;
    background-color: #d6d4d4;
    border-radius: 17px;
    padding: 3px;
    color: #414141;
}

.onfo {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
}

.the-builder {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-top: 70px;
    padding: 0 2rem;
}

.name-builder {
    font-family: "Inter-Bold";
    font-size: 16px;
}

.main-builder {
    font-family: "Inter-Medium";
    font-size: 14px;
    color: #555454;
    margin-top: 0.5rem;
}

.Recipes-view {
    background-color: #000000;
    border-radius: 13px;
    font-family: "Inter-SemiBold";
    color: #fafafa;
    /* padding: 10px; */
    display: flex;
    width: 30%;
    gap: 10px;
    margin-left: 120px;
    height: 3rem;
    align-items: center;
    font-size: 12px;
    text-align: center;
    justify-content: center;
    border: 0;
}

.Recipes-view img {
    width: 15px;
    height: 15px;
}

.cat {
    display: flex;
    gap: 60%;
    padding-bottom: 40px;
    margin-top: 10%;
}

.Categories-title {
    font-size: 48px;
    font-family: "Inter-SemiBold";
    margin-left: 2rem;

}

.ctgry-img {
    display: flex;
    margin-left: 4%;
    padding-bottom: 8rem;
}

.cat-btn {
    font-size: 16px;
    font-family: "Inter-SemiBold";
    background-color: var(--light-blue);
    border-radius: 40px;
    border: 1px solid var(--light-blue);
    padding: 20px;
    width: 16%;
}

.cat-img {
    padding: 20px;
    justify-content: space-between;
    gap: 50px;
    width: 220px;
    height: 220px;
    cursor: pointer;
}

.taste-title {
    font-size: 46px;
    font-family: "Inter-SemiBold";
    font-weight: 500;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 20px;
}

.taste-desc {
    font-size: 16px;
    font-family: "Inter-Regular";
    font-weight: 300;
    text-align: center;
    color: #4d4d4d;
}

.taste-list {
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    padding: 121px;

}

.menu {
    background-image: linear-gradient(hsl(0, 0%, 100%), #dff1f5);
    border-radius: 30px;
    padding: 20px;
    position: relative;
    height: auto;
}

.interest {
    width: 50px;
    height: 50px;
    background-color: #fff;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.interest img {
    position: relative;
    /* top: 0./rem; */
}

.list-des {
    font-size: 24px;
    font-family: "Inter-SemiBold";
    font-weight: 400;
    padding-bottom: 20px;
    margin-top: 1rem;
}

.footer-lst {
    display: flex;
    gap: 20px;
}

.snt {
    font-size: 14px;
    font-family: "Inter-Medium";
    font-weight: 300;
    color: #494949;
}

.beetween-tste {
    width: 400px;
    height: 400px;
}

.div-four {
    display: flex;
    width: 90%;
    margin: 3rem auto;
    justify-content: center;
    align-items: center;
}

.chef {
    padding-bottom: 30px;
    width: 90%;
    border-radius: 40px;
    list-style: 40px;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 3rem;
}

.title-chef {
    font-family: "Inter-SemiBold";
    font-size: 48px;
}

.chef-par {
    font-size: 16px;
    font-family: "Inter-Regular";
    font-weight: 300;
    color: #616161;
}

.chef-img {
    flex: 0 0 45%;
}

.chef-btn {
    background-color: #1a1a1a;
    color: white;
    font-size: 16px;
    font-family: "Inter-Regular";
    border-radius: 20px;
    width: 180px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 13px;
}

.check {
    font-size: 48px;
    font-family: "Inter-SemiBold";
    font-weight: 500;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 20px;
    margin-top: 10%;
}

.des-check {
    font-size: 16px;
    font-family: "Inter-Regular";
    font-weight: 300;
    text-align: center;
    color: #4d4d4d;
    padding-bottom: 50px;
    margin-bottom: 30px;
}

.check-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.check-btn {
    background-color: #101010;
    border-radius: 13px;
    font-family: "Inter-SemiBold";
    color: #fafafa;
    display: flex;
    width: 229px;
    gap: 10px;
    margin-left: 120px;
    height: 60px;
    align-items: center;
    font-size: 12px;
    text-align: center;
    justify-content: center;
    border: 0;
    margin: 3rem auto;

}

.five-div {
    background-image: linear-gradient(hsl(0, 0%, 100%), #dff1f5);
    width: 100%;
    padding-bottom: 1rem;
    margin-top: 5rem;
}

.six-header {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
    padding-top: 7%;
    margin-left: 6%;
}

.del-title {
    font-size: 48px;
    font-family: "Inter-SemiBold";
    font-weight: 500;
}

.del-par {
    font-size: 18px;
    font-family: "Inter-Regular";
    font-weight: 300;
    color: #616161;
    margin-top: 60px;
}

.siv-pic {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 4rem 0;
    gap: 2rem;
    padding-bottom: 10rem;
}

.box {
    position: relative;
    height: 300px;
    flex: 0 0 20%;
}

.box .pics {
    display: flex;
    padding-top: 10px;
    padding-left: 10px;
    position: absolute;
    bottom: 0.5rem;
    font-size: 0.7rem;
    align-items: center;
    gap: 0.5rem;
}

.box .pics img {
    height: 20px;
    width: 20px;
}

.des {
    font-size: 18px;
    font-family: "Inter-SemiBold";
    font-weight: 500;
    padding-top: 10px;
    padding-left: 10px;
    color: #101010;
    line-height: 25px;
}

.last-title {
    font-size: 48px;
    font-family: "Inter-SemiBold";
    font-weight: 500;
    padding-bottom: 40px;
    padding-top: +50px;
    text-align: center;
}

.last-des {
    font-size: 18px;
    font-family: "Inter-Regular";
    font-weight: 300;
    color: #616161;
    text-align: center;
    margin-bottom: 95px;
}

.btn-last {
    margin-right: 50px;
    background-color: #ffffff;
    border-radius: 20px;
    display: flex;
    gap: 40px;
    padding: 10px;
    width: 480px;
    justify-content: center;
    margin-left: 33%;
    height: 80px;
}

.sub {
    background-color: #1a1a1a;
    padding: 10px;
    border-radius: 19px;
    width: 32%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.email {
    border: 1px solid white;
    flex: 0 0 60%;
    height: 100%;
    border-radius: 15px;
}

.last-div {
    background-image: url(asset/image/Subscribe\ Card.png);
    height: 446px;
    width: 90%;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-size: 100%;
    background-position: center;
}

.last-logo-3 {
    direction: rtl;
    display: flex;
    align-items: center;
    gap: 2rem;
    cursor: pointer;
}

.last-text {
    font-family: "Inter-Regular";
    font-size: 16px;
    color: #656464;
    margin-left: 50px;
}

.last-nav {
    display: flex;
    gap: 30px;
    cursor: pointer;
    direction: rtl;
    font-family: "Inter-Medium";
    margin-left: 500px;
    margin-top: 173px;
    font-size: 15px;
    padding-right: 3rem;
}

.end-logo {
    margin-top: 160px;
    margin-left: 79px;
}

.end {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0px;
    border-bottom: 1px solid rgb(219, 219, 219);
}

.last-paragraph {
    text-align: left;
    margin-left: 30px;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    font-size: 13px;
}

.end-pg {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin: 3rem 0;
    padding: 0 2rem;
}

.last-text-end {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav-link {
    text-align: center;
}

.orange-color {
    color: var(--orange);
}